body{
    margin: 0;
    padding: 0;
    background-color: rgb(223, 231, 231);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

.titre{
    height: 80px;
    background: #49599A;
}

h1
{
    color: #ffffff;
    margin-bottom: 10px;
}

.gauche{
    float: left;
    color: #ffffff;
}
th{
    color: #ffffff;
}
.droite{
        float:  right;
        color: #ffffff;
    }

.corps{
    width: 100%;
    height: 500px;
}
    .corps-left{
        width: 45%;
        float: left;
        color: #49599A;
        margin: 5%;
    }
    .corps-right{
        width: 45%;
        color: black;
        float: right;
    }
    